//Radio de las esquinas

$radioGeneral:0px;

//Padding y margin

$marginGeneral:0px;
$paddingGeneral:0px;

//Color letras

 $colorTitulo:red;

$colorBarra:black;

$letraNoticia:white;

$colorUsuario:purple;

$colorContinuar:red;

$colorSeparador:red;

$colorTituloAside:white;

$colorNumero:white;

$colorPie:purple;

$colorTituloPie:red;

//Color fondo

$fondoBarraGeneral:red;
$fondoBarra:purple;
$fondoNoticia:black;
$fondoContinuar:black;

$fondoMain:cyan;

$fondoAsideImpar:purple;
$fondoAsidePar:cyan;

$fondoTituloAside:black;

$fondoNumero:black;

//ColorBordeTablas

$bordeBarra:red;

$bordeContinuar:purple;

$bordeSitios:red;

$bordeNoticiaDerecha:grey;

$bordeNumero:red;