//Radio de las esquinas

$radioGeneral:0px;

//Padding y margin

$marginGeneral:0px;
$paddingGeneral:0px;


//Estilo de fuente

$fuente:'Mohave', sans-serif;

//Colores de fondo
 $colorCabezera:00ffff;

 $colorBarra:red;

 $fondoDescripcion:blue;

 $fondoPrecio: green;

 $fondoOferta: purple;

 $fondoPie:brown;
 //Color letra

 $letraBarra:black;
 $letraTabla:black;
 $colorPrecio:red;
 $colorPrecioDerecha:green;
 $colorDescripcion:yellow;

 //Color borde tabla

 $tablaMenu:purple;
 $bordeCarta:purple;